<html>
<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music, Fashion, Hip, Hipster">
    <meta name="description" content="How to be Hip.">
    <meta name="author" content="Samuel Langford">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">

	<title>How to be Hip</title>
</head>
<body>

	<div class="head">
		<img class="logo" src="../images/logo.png">
		<h1 class="headertitle">How to be Hip</h1>
	</div>

	<div class="main-nav">
  		<a class="active" href="../index.html">Home</a>
  		<a href="../views/music.html">Music</a>
  		<a href="../views/fashion.html">Fashion</a>
  		<a href="../views/attitudes.html"><strong><span style="color: black;">Attitudes</span></strong></a>
  		<a href="../views/blog.html">Blog</a>
  		<a href="../views/FAQ.html">FAQ</a>
	</div>
	<!-- ==========================================Header/nav bar==================== -->

<div class='body-div'>
	<h2>Do I like this?</h2>
	<p>
		If you wanna be hip, you gotta be part of the counter culutre. Whatever is "in" right now, you gotta be ahead of it. Does everyone like Christopher Nolan? Well you used to like him before the Batman filns. Even if you really like something, once it becomes well liked you must move on to the next thing. 
	</p>
	<h2>Education</h2>
	<p>
		You should try to get your degree from a small liberal arts college. Are you good at math? Well forget about it because hip people do not major in math or science. 
	</p>
	<h2>Policial Views</h2>
	<p>
		Hipsters usually don't like things that are liked by the main streme. Always try to be the most liberal person in the room, and if you meet someone who is pretty liberal make sure they know that you are way more liberal than they are. If you to be hip when voting, consider voiting for the Green Party in every elecion; Jill Stien is ultra deck.  
	</p>
</div>
	<!--===================== footer =============================== -->
<div style="clear: both"></div>

<div class="footer">
  <p>
		<a href="../views/about.html">About <strong>|</strong></a>
		<a href="../views/FAQ.html">FAQ</a> <br>
	&copy; 2018, Samuel Langford 
      Contact the administrator  <a href="mailto:example@example">Samuel Langford</a>
</p>
</div>

</body>
</html> 
