<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music, Fashion, Hip, Hipster">
    <meta name="description" content="How to be Hip.">
    <meta name="author" content="Samuel Langford">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">

	<title>How to be Hip</title>
</head>
<body>

	<div class="head">
		<img class="logo" src="../images/logo.png">
		<h1 class="headertitle">How to be Hip</h1>
	</div>

	<div class="main-nav">
  		<a class="active" href="../index.html">Home</a>
  		<a href="../views/music.html">Music</a>
  		<a href="../views/fashion.html">Fashion</a>
  		<a href="../views/attitudes.html">Attitudes</a>
  		<a href="../views/blog.html">Blog</a>
  		<a href="../views/FAQ.html">FAQ</a>	
	</div>


	<!-- ==========================================Header/nav bar==================== -->

<div class='body-div'>
<a href="#" class="changeblogbutton">&#8249;</a>
<h3 class="blogtitle">Blog Title</h3>
<a href="#" class="changeblogbutton">&#8250;</a>
<hr>
<p>Post-ironic cold-pressed shabby chic fanny pack poke umami heirloom hella glossier try-hard activated charcoal. Enamel pin whatever hot chicken selvage franzen edison bulb art party, chillwave helvetica raw denim neutra health goth tote bag. Before they sold out brunch roof party subway tile, aesthetic 3 wolf moon microdosing freegan locavore. Kombucha la croix lo-fi iceland keytar VHS dreamcatcher slow-carb thundercats yuccie cold-pressed pok pok affogato.

Portland tbh drinking vinegar flannel, heirloom try-hard blue bottle readymade kombucha chartreuse ramps flexitarian whatever affogato snackwave. IPhone activated charcoal hammock hell of, paleo plaid synth semiotics messenger bag PBR&B cardigan DIY fanny pack chambray. Affogato echo park waistcoat chicharrones tilde beard. Selfies disrupt blog thundercats, bitters microdosing cardigan. Gentrify sriracha jianbing, tumeric shabby chic man bun hoodie godard.

Paleo fanny pack lomo actually jean shorts shoreditch tote bag palo santo readymade knausgaard yuccie scenester pinterest pickled distillery. Post-ironic blog taxidermy messenger bag tumblr. Trust fund artisan mlkshk dreamcatcher meggings, activated charcoal cloud bread selfies. Ennui freegan try-hard, four loko ramps snackwave sartorial bespoke pinterest irony cliche thundercats. Kinfolk humblebrag mumblecore kickstarter, tumeric cold-pressed pinterest vice mixtape meditation mustache hell of artisan gentrify. Man bun tbh vaporware kogi shaman raclette. Yr semiotics umami seitan pour-over leggings, man braid man bun 90's XOXO copper mug keytar.

Hexagon sustainable put a bird on it williamsburg, squid intelligentsia readymade iPhone echo park kitsch austin. Meggings skateboard vaporware, kogi humblebrag vegan YOLO poke schlitz forage +1 before they sold out raclette. Messenger bag offal edison bulb gastropub godard mlkshk, twee roof party tilde. Semiotics cred woke slow-carb, hella drinking vinegar listicle.

Try-hard drinking vinegar tumblr kickstarter pork belly offal hella migas thundercats skateboard truffaut. Pork belly unicorn etsy, letterpress single-origin coffee tilde vaporware air plant. Adaptogen DIY affogato church-key actually photo booth four loko artisan keffiyeh kitsch dreamcatcher coloring book celiac. Lyft poke XOXO tilde vape helvetica palo santo tote bag selvage. Taiyaki skateboard food truck kogi. Banh mi etsy kitsch, hexagon helvetica poutine paleo pinterest la croix locavore ennui fixie fashion axe
</p>

</div>
	<!--===================== footer =============================== -->



<div style="clear: both"></div>

<div class="footer">
  <p>
		<a href="../views/about.html">About <strong>|</strong></a>
		<a href="../views/FAQ.html">FAQ</a> <br>
	&copy; 2018, Samuel Langford 
      Contact the administrator  <a href="mailto:example@example">Samuel Langford</a>
</p>
</div>



</body>
</html> 