<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music, Fashion, Hip, Hipster">
    <meta name="description" content="How to be Hip.">
    <meta name="author" content="Samuel Langford">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">

	<title>How to be Hip</title>
</head>
<body>

	<div class="head">
		<img class="logo" src="../images/logo.png">
		<h1 class="headertitle">How to be Hip</h1>
	</div>

	<div class="main-nav">
  		<a class="active" href="../index.html">Home</a>
  		<a href="../views/music.html">Music</a>
  		<a href="../views/fashion.html">Fashion</a>
  		<a href="../views/attitudes.html">Attitudes</a>
  		<a href="../views/blog.html"><strong><span style="color: black;"> Blog</span></strong></a>
  		<a href="../views/FAQ.html">FAQ</a>	
	</div>


	<!-- ==========================================Header/nav bar==================== -->

<div class='body-div'>
<h2>The Most Hip Blog Around</h2>
<hr>
<h3><a href="../views/blogpost.html">Avengers: The Most Postmodern Movie of Our Life Time</a></h3>
<h5>4/26/2018</h5>
<p>Post-ironic cold-pressed shabby chic fanny pack poke umami heirloom hella glossier try-hard activated charcoal. Enamel pin whatever hot chicken selvage franzen edison bulb art party, chillwave helvetica raw denim neutra health goth tote bag. Before they sold out brunch roof party subway tile, aesthetic 3 wolf moon microdosing freegan locavore. Kombucha la croix lo-fi iceland keytar VHS dreamcatcher slow-carb thundercats yuccie cold-pressed pok pok.....
</p>
<h3><a href="../views/blogpost.html">What to do When You Meet Someone Cooler Than You</h3></a>
<h5>4/25/2018</h5>
<p>Post-ironic cold-pressed shabby chic fanny pack poke umami heirloom hella glossier try-hard activated charcoal. Enamel pin whatever hot chicken selvage franzen edison bulb art party, chillwave helvetica raw denim neutra health goth tote bag. Before they sold out brunch roof party subway tile, aesthetic 3 wolf moon microdosing freegan locavore. Kombucha la croix lo-fi iceland keytar VHS dreamcatcher slow-carb thundercats yuccie cold-pressed pok ok......
</p>
<h3><a href="../views/blogpost.html">I lived it: I Ate Meat</a> </h3>
<h5>4/24/2018</h5>
<p>Post-ironic cold-pressed shabby chic fanny pack poke umami heirloom hella glossier try-hard activated charcoal. Enamel pin whatever hot chicken selvage franzen edison bulb art party, chillwave helvetica raw denim neutra health goth tote bag. Before they sold out brunch roof party subway tile, aesthetic 3 wolf moon microdosing freegan locavore. Kombucha la croix lo-fi iceland keytar VHS dreamcatcher slow-carb thundercats yuccie cold-pressed pok ok.....
</p>
<h3><a href="../views/blogpost.html">How to Pretend You Teach a Yoga Class</a></h3>
<h5>4/26/2018</h5>
<p>Post-ironic cold-pressed shabby chic fanny pack poke umami heirloom hella glossier try-hard activated charcoal. Enamel pin whatever hot chicken selvage franzen edison bulb art party, chillwave helvetica raw denim neutra health goth tote bag. Before they sold out brunch roof party subway tile, aesthetic 3 wolf moon microdosing freegan locavore. Kombucha la croix lo-fi iceland keytar VHS dreamcatcher slow-carb thundercats yuccie cold-pressed pok ok.....
</p>
</div>
	<!--===================== footer =============================== -->



<div style="clear: both"></div>

<div class="footer">
  <p>
		<a href="../views/about.html">About <strong>|</strong></a>
		<a href="../views/FAQ.html">FAQ</a> <br>
	&copy; 2018, Samuel Langford 
      Contact the administrator  <a href="mailto:example@example">Samuel Langford</a>
</p>
</div>



</body>
</html> 