<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music, Fashion, Hip, Hipster">
    <meta name="description" content="How to be Hip.">
    <meta name="author" content="Samuel Langford">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">

	<title>How to be Hip</title>
</head>
<body>

	<div class="head">
		<img class="logo" src="../images/logo.png">
		<h1 class="headertitle">How to be Hip</h1>
	</div>

	<div class="main-nav">
  		<a class="active" href="../index.html">Home</a>
  		<a href="../views/music.html">Music</a>
  		<a href="../views/fashion.html">Fashion</a>
  		<a href="../views/attitudes.html">Attitudes</a>
  		<a href="../views/blog.html">Blog</a>
  		<a href="../views/FAQ.html">FAQ</a>	
	</div>


	<!-- ==========================================Header/nav bar==================== -->

<div class='body-div'>
<h2>The Most Hip Blog Around</h2>
<h3>Blog under construction. Please come back at a later date to read about everything hip.</h3>



</div>
	<!--===================== footer =============================== -->



<div style="clear: both"></div>

<div class="footer">
  <p>
	<ul>
		<li><a href="../views/about.html">About</a></li>
		<li><a href="../views/FAQ.html">FAQ</a></li>
	</ul>	
	&copy; 2018, Samuel Langford 
      <br>
	  <p>Contact the administrator  <a href="mailto:example@example">Samuel Langford</a>
</p>
</div>



</body>
</html> 