<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music, Fashion, Hip, Hipster">
    <meta name="description" content="How to be Hip.">
    <meta name="author" content="Samuel Langford">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">

    <title>How to be Hip</title>
</head>
<body>
    <div class="head">
        <img class="logo" src="../images/logo.png">
        <h1 class="headertitle">How to be Hip</h1>
    </div>
    <div class="main-nav">
        <a class="active" href="../index.html">Home</a>
        <a href="../views/music.html">Music</a>
        <a href="../views/fashion.html">Fashion</a>
        <a href="../views/attitudes.html">Attitudes</a>
        <a href="../views/blog.html">Blog</a>
        <a href="../views/FAQ.html"><strong><span style="color: black;">FAQ</span></strong></a>
    </div>
    <!-- ==========================================Header/nav bar==================== -->
<div class='body-div'>

<DL>
<DT>How did you get to be this hip?
<DD>Years of practice and studying the masters like Kim Deal
<DT>How can I be as hip as you?
<DD>Follow the steps laid down on this website. You'll be the talk of the town in no time.
<DT>What other resources do you recommend?
<DD>Check out websites like <a href="http://www.complex.com/pop-culture/">Complex.com</a> and listen to talk radio as often as you can.
</DL>

<h4>Didn't find the answer you were looking for?</h4>
    <form action="FAQ.html" target="blank">
        
   Full Name:<br>
    
    <input type="text" name="name"><br>
    
    Email:<br>
    
    <input type="text" name="email"><br><br>
        
        Message:<br>
        
        <textarea name= "message" rows ="10" cols="48"></textarea><br><br>
    
    <input type="submit">
    
    </form>
</div>

    <!--===================== footer =============================== -->
<div style="clear: both"></div>

<div class="footer">
  <p>
        <a href="../views/about.html">About <strong>|</strong></a>
        <a href="../views/FAQ.html">FAQ</a> <br>
    &copy; 2018, Samuel Langford 
      Contact the administrator  <a href="mailto:example@example">Samuel Langford</a>
</p>
</div>
</body>
</html> 