<html>
<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music, Fashion, Hip, Hipster">
    <meta name="description" content="How to be Hip.">
    <meta name="author" content="Samuel Langford">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
	<title>How to be Hip</title>

</head>
<body>

	<div class="head">
		<img class="logo" src="../images/logo.png">
		<h1 class="headertitle">How to be Hip</h1>
	</div>

	<div class="main-nav">
  		<a class="active" href="../index.html">Home</a>
  		<a href="../views/music.html">Music</a>
  		<a href="../views/fashion.html"><strong><span style="color: black;">Fashion</span></strong></a>
  		<a href="../views/attitudes.html">Attitudes</a>
  		<a href="../views/blog.html">Blog</a>
  		<a href="../views/FAQ.html">FAQ</a>
	</div>
	<!-- ==========================================Header/nav bar==================== -->








<div class='body-div'>
	<h2>Is it Ironic?</h2>
	<p>
		When comes to fashion you need to think about a few things. Is it local? Is it old? Is it second hand? Unlike music, you should be wearing clothes that are pretty old, preferably from the 90s - early 2000s. For ladies, you want to look as close to a sweet old grandma as you can. For men, you can't go wrong wearing flannel and a beanie. Rememeber, when it comes to fashion, it's all about Irony.
	</p>

	<h2>What should I Wear?</h2>
		 <p>
            Consider wearing a sunhat, even when it's not sunny out or wear a beanie or a silly hat with a short brim like you're Charlie Chaplin.
             <img class="fashionimgleft" src="../images/hipsterladyhat.jpg" alt="hip hat"> <br>

            Avoid name brands at all cost, never go to places like old navy or GAP. Instead, you should only shop on Etsy, and at your local thrift store, though never go to a Goodwill, the Goodwill is not deck (deck is total hipster slang, and you should start using it instead of cool).<br>
            You will look really rad if you wear 80s metal band t-shirts. Bands like Iron Madian and Metalica, but never EVER actually listen to their music. See, it's super ironic because all you listen to is hip indie music that have that's mostly banjos and violins so it's like the complete opposite of what you're wearing. Ramps kogi microdosing actually everyday carry dreamcatcher. Artisan DIY marfa master cleanse. Microdosing mixtape hell of, church-key sartorial pug kogi affogato crucifix. Narwhal ethical jean shorts bespoke DIY affogato man bun. Disrupt meggings schlitz kickstarter pop-up kitsch unicorn butcher taxidermy cray. Heirloom jianbing cliche mlkshk swag. Polaroid whatever wayfarers irony <br> 

       <!--      <img class="fashionimgright" src="../images/metalicashirt.jpg" alt="Metalica t-shirts"> 
            <br> -->

            Also try to wear only skinny jeans, or high waisted "mom jeans," those are really in right now. <br> 
            <img  class="fashionimgright " src="../images/momjeans.jpg" alt="Hip Jeans"><br>
            And don't forget about the thick rimmed glasses, even if you don't need them. WEAR THE THICK RIMMED GLASSES.
            Just remember, when you're walking out the door ask yourself: Am I being ironic enough? 
            If you're a guy, the only thing you ever have to wear is flannel. Literally, every occasion is flannel, bars, concerts, dance clubs, hanging out in at the park, getting coffee, you're uncle's funeral, all flannel. 
        </p>


	<!--===================== footer =============================== -->





</div>
















<div style="clear: both"></div>
<div class="footer">
  <p>
		<a href="../views/about.html">About <strong>|</strong></a>
		<a href="../views/FAQ.html">FAQ</a> <br>
	&copy; 2018, Samuel Langford 
      Contact the administrator  <a href="mailto:example@example">Samuel Langford</a>
</p>
</div>
</body>
</html> 
