<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music, Fashion, Hip, Hipster">
    <meta name="description" content="How to be Hip.">
    <meta name="author" content="Samuel Langford">
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">

	<title>How to be Hip</title>
</head>
<body>
	<div class="head">
		<img class="logo" src="../images/logo.png">
		<h1 class="headertitle">How to be Hip</h1>
	</div>
	<div class="main-nav">
  		<a class="active" href="../index.html">Home</a>
  		<a href="../views/music.html"><strong><span style="color: black;">Music</span></strong></a>
  		<a href="../views/fashion.html">Fashion</a>
  		<a href="../views/attitudes.html">Attitudes</a>
      <a href="../views/blog.html">Blog</a>
  		<a href="../views/FAQ.html">FAQ</a>
	</div>

	<!-- ==========================================Header/nav bar==================== -->
  <div class="body-div">
<div class="container boxdiv">	
	<p class="homepagepar">
		What music you listen to may be the most critical part of being hip. You need to be listening to the latest albums of the most obscure, unknown bands you can find, the more obscure, the better. If someone asks if you listen to a band you've never heard of, simply say you've heard of them but never bothered to check them out; go home and listen to their entire discography as soon as you get home. 
	</p>
<h2>Here's a list of bands you should start out with</h2>

 <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="../images/milkhotel.jpg" alt="Nuetral Milk Hotel" style="width:100%">
        <div class="caption">
          <p class="bandnames"> <strong>Nuetral Milk Hotel</strong></p>
        </div>
     
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
     
        <img src="../images/brighteyes.jpg" alt="Brighteyes" style="width:100%">
        <div class="caption">
          <p class="bandnames"><strong>Brighteyes</strong></p>
        </div>
     
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      
        <img src="../images/Lucius.jpeg" alt="Lucius" style="width:100%">
        <div class="caption">
          <p class="bandnames"><strong>Lucius</strong></p>
        </div>
      
    </div>
  </div>
</div>


 <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      
        <img src="../images/tohkay.jpg" alt="Toh Kay" style="width:100%">
        <div class="caption">
          <p class="bandnames"><strong>Toh Kay</strong></p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      
        <img src="../images/december.jpeg" alt="thedecemberists" style="width:100%">
        <div class="caption">
          <p class="bandnames"><strong>The Decemeberists</strong> </p>
        </div>
    
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
              <img src="../images/Arcadefire.jpg" alt="Arcade Fire" style="width:100%">
        <div class="caption">
          <p class="bandnames"><strong>Arcade Fire</strong></p>
        </div>

    </div>
  </div>
</div>


</div>

</div>
	<!--===================== footer =============================== -->
<div style="clear: both"></div>

<div class="footer">
  <p>
    <a href="../views/about.html">About <strong>|</strong></a>
    <a href="../views/FAQ.html">FAQ</a> <br>
  &copy; 2018, Samuel Langford 
      Contact the administrator  <a href="mailto:example@example">Samuel Langford</a>
</p>
</div>
</body>
</html> 